package graph

type DirectedGraph struct {}

func (d *DirectedGraph) AddEdge(from, to int) {}

func (d *DirectedGraph) AddWeightedEdge(from, to, weight int) {}

func (d *DirectedGraph) ShortestPath(start int) map[int]int {
  return nil
}

func (d *DirectedGraph) ShortestPathBetween(from, to int) (int, bool) {
  return 0, false
}

func NewDijkstraGraph() *DirectedGraph {
  return nil
}
