package graph

type Graph struct {}

func (g *Graph) AddEdge(from, to int) {}

func (g *Graph) HasPath(from, to int) bool {}

func (g *Graph) DFS(start int) []int {}

func (g *Graph) DFSWhole() []int {}

func (g *Graph) ShortestPath(from, to int) []int {}

func NewGraph() *Graph {}
