package graph

type Dag struct {}

func (d *Dag) AddEdge(from, to int) {}

func (d *Dag) AddWeightedEdge(from, to, weight int) {}

func (d *Dag) TopologicalSort() []int {
  return nil
}

func (d *Dag) TopologicalSortBFS() []int {
  return nil
}

func (d *Dag) IsDAG() bool {
  return false
}

func (d *Dag) ShortestPath(start int) map[int]int {
  return nil
}

func NewDAG() *Dag {
  return nil
}
